<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Raspberry Pi Home Automation</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="src/styles/main.css">

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js" defer></script>
    <script src="../public/vendor/angular-aria/angular-aria.js" defer></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.js" defer></script>
    <script src="../public/vendor/angular-socket-io/socket.js" defer></script>
    <!-- This is what causes the socket.io client module to be loaded-->
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>


    <!-- application sepecific modules -->
    <script src="src/app-modules.js" defer></script>
    <script src="src/app.js" defer></script>
    <script src="src/services/app-socket-service.js" defer></script>

</head>
<body ng-app="mainAppModule">

<div ng-controller="appController as mainAppController">
    <div class="pins-toggles-container">
        <div ng-repeat="gpioPin in mainAppController.model.gpioPins track by gpioPin.id" class="pin-switch">
            <md-switch ng-model="gpioPin.state" ng-true-value="1" ng-false-value="0" aria-label="Switch {{::gpioPin.id}}"  ng-change="handleOnClick(gpioPin)" ng-cloak>
                GPIO Pin {{::gpioPin.id}}: {{ data.cb1 }}
            </md-switch>
        </div>
    </div>
</div>
</body>
</html>
