<section layout="row" flex layout-fill>
    <md-sidenav flex layout="column" layout-fill class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left">
        <md-toolbar class="md-theme-left">
            <h1 class="md-toolbar-tools">Sidenav Left new</h1>
        </md-toolbar>
        <md-content layout-padding flex layout="column">
            <form>

                <md-button ng-click="sideNavVm.openDebugging()"
                           class="md-primary md-hue-1 md-button md-ink-ripple">
                    Debugging
                </md-button>
                <md-button ng-click="sideNavVm.openShaderSchedule()"
                           class="md-primary md-hue-1 md-button md-ink-ripple">
                    Shader schedule
                </md-button>
            </form>
            <md-button ng-click="sideNavVm.closeSideNav()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>
    </md-sidenav>

    <md-content flex >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button hide-gt-md" ng-click="sideNavVm.toggleLeft()" aria-label="Settings">
                    <i class="mdi mdi-menu"></i>
                </md-button>
                <h2>
                    <span>Toolbar with Icon Buttons</span>
                </h2>
            </div>
        </md-toolbar>

        <!--************  main ui view *************-->
        <div ui-view="main-content" layout-padding></div>
        <!--************  main ui view *************-->
    </md-content>
</section>